.error-card {
    min-width: 320px;
    max-width: 100%;
}

#error-message-modal {
    border-radius: 0.5rem;
    border: 2px var(--bs-danger) solid;
}

#error-message-modal .highlight {
    background-color: #ffeb3b; /* Highlight color */
    border-radius: 4px;

    /** Undo previous styling */
    border: none;
    animation: none;
}

code > code, code > pre {
    border: 1px solid var(--bs-code-color);
    padding: 0.2em 0.4em;
    border-radius: 4px;
}